<%- include('partials/head') %>



<%- include('partials/navbar')  %> 
    

    <h1>Welcome to the Homepage of EJS <%= 'hello World'.toUpperCase() %>   </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque dicta pariatur esse, quia expedita aspernatur ratione, odit accusantium odio et repudiandae, tenetur totam excepturi provident? Veniam praesentium quod inventore quasi.
    Veritatis dolore quibusdam obcaecati! Iusto nostrum necessitatibus, unde est, repudiandae corrupti, sunt beatae obcaecati repellat exercitationem numquam vitae? Vero quis aspernatur odio omnis perspiciatis! Aliquid quia sit tenetur illo consectetur!
    Amet, placeat laboriosam! Quibusdam veniam consectetur voluptas, laborum minus laboriosam veritatis harum maiores, animi earum, hic debitis. Esse quisquam sequi quaerat harum, magni vel, facilis tenetur nemo aspernatur minima accusantium.
    Sequi officia quos ut praesentium sed modi corrupti. Sint nesciunt iusto ex fugit dolorem aperiam amet dicta, cum non, minima maiores id consequatur maxime modi quo necessitatibus perspiciatis. Ipsam, fugit.
    Perferendis reprehenderit esse assumenda cum quisquam, facilis soluta. Aliquid assumenda dicta asperiores nobis voluptates, eveniet, hic nemo veniam consequatur sequi tempora facere libero quibusdam molestiae cupiditate laborum quidem, non qui.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil laboriosam adipisci quas! Incidunt dolor architecto inventore, distinctio fugit culpa doloribus. Dolore provident at ratione numquam ullam error cum placeat.
    Distinctio ad nisi cum odit quia deleniti architecto a laborum ex aut qui, quo, ratione hic itaque dolore. Reiciendis dolores corrupti, molestiae rem laudantium hic incidunt ab magni animi perspiciatis.</p>
    <%- include('partials/footer') %>