<%- include('partials/head') %>

<%- include('partials/navbar')  %> 

    <h1>Sorry we dont have that page <%= subreddit %>, try from the following </h1>
    <ul>
        <li>Soccer</li>
        <li>Chickens</li>
        <li>mightyharvest</li>
    </ul>
<%- include('partials/footer') %>